{% extends 'base.html' %}
{% block title %}Change password successful{% endblock %}

{% block content %}
  <div class="container mt-5" style="position: absolute;top: 30%;left: 50%; transform: translate(-50%,-30%);">
    <!-- Success Message Box -->
    <div class="card shadow-lg p-4 mb-5 bg-white rounded ">
        <div class="card-body">
            <h2 class="text-center text-success">Password Changed Successfully!</h2>
            <p class="text-center">Your password has been successfully changed. You can now log in using your new password.</p>

            <!-- Return to login page link -->
            <div class="text-center mt-4">
                <a href="{% url 'accounts:login' %}" class="btn btn-primary">Go to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}